.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes {
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.btn {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}

#task-wrapper{
    margin-bottom: 0px;
}

.message-content {
    position: relative;
}

.close {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
    height: 20px;
    width: 25px;
    line-height: 2px;
    padding: 3px;
}